/* flex布局 */
.u-f,
.u-f-ac,
.u-f-ajc {
	display: flex;
}

.u-f-ac,
.u-f-ajc {
	align-items: center;
}

.u-f-ajc {
	justify-content: center;
}

.u-f-jsb {
	justify-content: space-between;
}

.t-ac {
	text-align: center;
}

.u-f1 {
	flex: 1;
}

.u-f-column {
	flex-direction: column;
}

/* 公共按钮组件样式 */
.user-set-btn {
	width: 100%;
	margin: 20rpx 0;
	background-color: #ffe933 !important;
	border: none;
	color: #333 !important;
}

/* 无法操作样式 */
.user-set-btn-disable {
	background-color: #f4f4f4 !important;
	color: #929292 !important;
	border: 1rpx solid #eee !important;
}

.common-input {
	font-size: 30rpx;
	border-bottom: 1rpx solid #f4f4f4;
}